<div class="container mt-4">
  <div class="header">
    <h1>Sismógrafo</h1>
  </div>
  <div class="row justify-content-around mt-4">
    <div class="col-3 border p-3 custom-div" [ngClass]="{'red-div': dato1 === '0,1'}" >
      <h2>Aceleración</h2>
      <p>{{ dato1 }}</p>
    </div>
    <div class="col-3 border p-3 custom-div">
      <h2>Frecuencia</h2>
      <p>{{ dato2 }}</p>
    </div>
    <div class="col-3 border p-3 custom-div">
      <h2>Duración</h2>
      <p>{{ dato3 }}</p>
    </div>
  </div>
</div>
